@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/*
@font-face {
    font-family: 'Russo One';
    src: url('./fonts/RussoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Source Sans Pro Black */
@font-face {
    font-family: 'SourceSansPro-Black';
    src: url('chemin/vers/SourceSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Source Sans Pro Bold */
@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('chemin/vers/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Source Sans Pro Semibold */
@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('chemin/vers/SourceSansPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Source Sans Pro Regular */
@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('chemin/vers/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Source Sans Pro Italic */
@font-face {
    font-family: 'SourceSansPro-Italic';
    src: url('chemin/vers/SourceSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Source Sans Pro Semibold Italic */
@font-face {
    font-family: 'SourceSansPro-SemiboldItalic';
    src: url('chemin/vers/SourceSansPro-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}