@import './fonts.scss';
@import './utils.scss';

* {
    box-sizing: border-box;

    body {
        margin: 0 !important;
        height: 100%;
        display: block;

        .button {
            border-bottom: 1px solid rgba(0, 0, 0, 0.40);
            color: rgba(0, 0, 0, 0.60);

            text-align: justify;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            cursor: pointer;

            width: fit-content;
        }

        .banner {
            width: 100%;
            height: 55vh;

            margin: 0;
            padding: 0px 60px 100px 60px;

            display: flex;
            flex-direction: column-reverse;

            background-color: #2D4F9D;

            h1 {
                margin: 0;
                color: #FFFFFF;
                text-transform: uppercase;
                font-family: "Russo One", Sans-serif;
                font-size: 90px;
                font-weight: 600;
                letter-spacing: 4.5px;
            }
        }

        .content {
            box-sizing: border-box;
            width: 100%;
            height: auto;
            padding: 0px 10%;

            font-family: "SourceSansPro-Regular", sans-serif;

            h2 {
                font-size: 22px;
                font-style: normal;
                line-height: normal;
                text-transform: uppercase;
            }

            p {
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                color: rgba(0, 0, 0, 0.40);
            }

            form {
                width: 100%;
                border-left: 1px solid rgba(0, 0, 0, 0.10);
                border-right: 1px solid rgba(0, 0, 0, 0.10);
                font-family: 'Source Code Pro', monospace;
                padding: 30px 0;

                .input {
                    position: relative;

                    h3 {
                        top: 0;
                        margin: 0;
                        left: 1em;
                        font-size: 12px;
                        position: absolute;
                        background-color: #FFFFFF;
                        transform: translate(0, -50%);
                        padding-left: 5px;
                        padding-right: 5px;
                        white-space: nowrap;
                    }

                    input {
                        padding: 20px 10px 15px 10px !important;
                        height: 100%;
                        width: 100%;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                    }

                    input::placeholder {
                        color: rgba(0, 0, 0, 0.40);
                        font-weight: 300 !important;
                    }

                    select {
                        padding: 20px 10px 15px 10px !important;
                        height: 100%;
                        width: 100%;
                        min-width: 200px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                    }

                    select::placeholder {
                        color: rgba(0, 0, 0, 0.40);
                        font-weight: 300 !important;
                    }

                    textarea {
                        padding: 20px 10px 15px 10px !important;
                        height: 100%;
                        width: 100%;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                    }

                    textarea::placeholder {
                        color: rgba(0, 0, 0, 0.40);
                        font-weight: 300 !important;
                    }
                }

                .section {
                    display: flex;
                    width: 100%;
                    padding: 15px 60px;

                    .field {
                        display: flex;

                        &.col {
                            flex-direction: column;
                        }
                    }

                    .flex {
                        justify-content: flex-start;
                        align-items: center;
                        gap: 2.3em;
                        flex-wrap: wrap;

                        input {
                            padding: 15px;
                        }
                    }

                    &.introduction {
                        h2 {
                            margin: 0;
                        }

                        gap: 10px;
                    }

                    &.col {
                        flex-direction: column;
                        gap: 20px;
                    }

                    .duplicable {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                }
            }
        }
    }
}